/* 🌈 Animated Gradient Background */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background: linear-gradient(-45deg, #86ce43, #185a9d, #a8e063, #56ab2f);
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
}

/* Animation */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Glass container */
.container {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
}

/* Title */
h1 {
    text-align: center;
    color: white;
}

/* Cards */
.card, .result-card, .chatbot {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Inputs */
input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Full input */
.full {
    margin-bottom: 10px;
}

/* Button */
button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2e7d32;
    color: rgb(246, 11, 11);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

/* Result */
.result-card {
    text-align: center;
}

/* Chatbot */
.chatbot {
    display: flex;
    flex-direction: column;
    height: 350px;
}

/* Chatbox */
#chatbox {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

/* Messages */
.user {
    text-align: right;
    margin: 5px;
    background: #c8e6c9;
    padding: 8px;
    border-radius: 10px;
}

.bot {
    text-align: left;
    margin: 5px;
    background: #eeeeee;
    padding: 8px;
    border-radius: 10px;
}

/* Chat input */
.chat-input {
    display: flex;
    gap: 10px;
}

.chat-input input {
    flex: 1;
}

.chat-input button {
    width: 100px;
}